@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
/* * {
    border: 0.1rem solid black;
} */

html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Vazirmatn', sans-serif;
}

p {
    font-size: 1rem;
}

.header-container {
    margin: auto;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: whitesmoke;
}

.header-top {
    padding-top: 1.5rem;
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    text-shadow: white 2px -2px;
    /* font-weight: bold; */
}

.header-sub {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
}

.main-container {
    margin: auto;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.add-border {
    border-bottom: 0.1rem solid whitesmoke;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.img-container {
    /* background-color: blue; */
    max-width: 30%;
    min-width: 300px;
    flex: auto;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.img-container > img {
    border-radius: 10px;
}

.center-container {
    max-width: 60%;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.center-img {
    min-width: 300px;
    max-width: 30%;
    /* flex: auto; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.center-img > img {
    border-radius: 10px;
}

.text-container {
    /* background-color: whitesmoke; */
    max-width: 30%;
    min-width: 300px;
    flex: auto;
    margin-left: 1rem;
    margin-right: auto;
}

.subtext-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.subtext-container > div {
    flex: auto;
}

.text-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.text-subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0rem;
}

.text-info {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.1rem;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
}

.share-button {
    background-color: whitesmoke;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-button:hover {
    background-color: rgb(205, 205, 205);
    box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
}

.popup {
    background-color: whitesmoke;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    right: 0%;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    opacity: 0;
}

@keyframes in-and-out {
    0% {
        visibility: show;
        opacity: 0;
    }

    25% {
        visibility: show;
        opacity: 0.5;
    }

    75% {
        visibility: show;
        opacity: 0.5;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.sticky-head {
    position: fixed;
    width: 100%;
    opacity: 0.8;
}

.sticky-button-container {
    position: fixed;
    opacity: 0.8;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    margin: 1rem 1.5rem 0.5rem 1.5rem;
}

.share-button.show {
    background-color: rgb(205, 205, 205);
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0.8;}
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 650px) {
    .flex-container {
        flex-direction: column;
    }
    .img-container {
        max-width: 100%;
        min-width: 0px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .text-container {
        max-width: 100%;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .center-container {
        max-width: 100%;
        min-width: 0px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .sticky-head {
        width: 100%;
    }
}